<app-home></app-home>
<div class="container mt-5">
  <h3>¡Hola {{cliente?.nombre}} {{cliente?.apellidos}}!</h3>

  <div class="row mt-3 p-2">
    <h5>Tus reservas</h5>
    <div *ngFor="let reserva of reservas" class=" card m-2 col-12 col-md-3 p-5">
      <h5>{{reserva.nombreBar}}</h5>
      <p>📍 {{reserva.direccion}}</p>
      <p>{{reserva.ciudad}}</p>
      <p>📆 Fecha: {{reserva.fechaReserva | date :'M-dd-yyyy'}} </p>
      <p>👩🏻‍🤝‍🧑🏽 Personas: {{reserva.comensales}}</p>
      <p>🕗 Hora: {{reserva.hora}}</p>

      <div class="row">
        <button class="btn btn-danger col-12 mb-3" (click)="deleteReserva(reserva.reservaId)">Cancelar la
          reserva</button>
        <button class="btn btn-dark col-12" [routerLink]="['/modificar', reserva.reservaId]">Modificar la
          reserva</button>
      </div>


    </div>

  </div>

</div>