<header>
  <nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']" href="#">Click Bars 🍴</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <li class="nav-link text-dark" [routerLink]="['/home']">Home</li>
          <li class="nav-link text-dark" [routerLink]="['/login']" *ngIf="!isLogged">Login</li>
          <li class="nav-link text-dark" (click)="exitSession()" *ngIf="isLogged">Logout</li>
          <li class="nav-link text-dark" [routerLink]="['/registro']" *ngIf="!isLogged">Registro</li>
          <li *ngIf="isLogged" class="nav-link text-dark" [routerLink]="['/perfil']">Perfil</li>
        </div>
      </div>
    </div>
  </nav>
</header>