<main class="container mt-3 p-2">
  <h3>Listado de clientes</h3>
  <div class="mt-3 row">
    <div *ngFor="let cliente of arrClientes" class="border p-2 col-3 m-4 bg-light">
      <h5>{{cliente.nombre}} {{cliente.apellidos}}</h5>
      <hr>
      <p>📧 {{cliente.email}}</p>
      <p>{{cliente.edad}} años</p>
      <p>📍 {{cliente.direccion ? cliente.direccion : 'Sin dirección'}}</p>
      <p>💶 Cuota: {{cliente.cuota}}€</p>
      <p>📆 {{cliente.fecha_nacimiento | date:'dd-MM-YYYY'}}</p>

    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn btn-success me-2" (click)="changePage(false)">Anterior</button>
    {{page}}
    <button class="btn btn-success" (click)="changePage(true)">Siguiente</button>
  </div>
</main>